@import '../../styles/global';

#preload{
  position: relative;
  left: 50%;
  width: 40px;
  height: 40px;
  top: 40vh;
}

#preload span{
  display: block;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: #9b59b6;
  position: absolute;
}

#preload span:nth-child(1){
  animation: loading-1 1.5s ease-in-out infinite;
}

#preload span:nth-child(2){
  left: 20px;
  animation: loading-2 1.5s ease-in-out infinite;
}

#preload span:nth-child(3){
  top: 0px;
  animation: loading-3 1.5s ease-in-out infinite;
}

#preload span:nth-child(4){
  top: 0px;
  left: 20px;
  animation: loading-4 1.5s ease-in-out infinite;
}

@keyframes loading-1{
  0%{
      transform: translateX(0px) translateY(0px) rotate(0deg);
      border-radius: 0px;
  }
  50%{
      transform: translateX(-20px) translateY(-10px) rotate(-180deg);
      border-radius:20px;
      background:#3498db;
  }
  80%{
      transform: translateX(0px) translateY(0px) rotate(-360deg); 
      border-radius:0px;
  }
  100%{
      transform: translateX(0px) translateY(0px) rotate(-360deg); 
      border-radius:0px;
  }
}

@keyframes loading-2{
  0%{
      transform: translateX(0px) translateY(0px) rotate(0deg);
      border-radius:0px;
  }
  50%{
      transform: translateX(20px) translateY(-10px) rotate(180deg);
      border-radius:20px;
      background:#f1c40f;
  }
  80%{
      transform: translateX(0px) translateY(0px) rotate(360deg);
      border-radius:0px;
  }
  100%{
      transform: translateX(0px) translateY(0px) rotate(360deg);
      border-radius:0px;
  }
}

@keyframes loading-3{
  0%{
      transform: translateX(0px) translateY(0px) rotate(0deg);
      border-radius:0px;
  }
  50%{
      transform: translateX(-20px) translateY(10px) rotate(-180deg);
      border-radius:20px;
      background:#2ecc71;
  }
  80%{
      transform: translateX(0px) translateY(0px) rotate(-360deg);
      border-radius:0px;
  }
  100%{
      transform: translateX(0px) translateY(0px) rotate(-360deg);
      border-radius:0px;
  }
}

@keyframes loading-4{
  0%{
      transform: translateX(0px) translateY(0px) rotate(0deg);
      border-radius:0px;
  }
  50%{
      transform: translateX(20px) translateY(10px) rotate(180deg);
      border-radius:20px;
      background:#e74c3c;
  }
  80%{
      transform: translateX(0px) translateY(0px) rotate(360deg);
      border-radius:0px;
  }
  100%{
      transform: translateX(0px) translateY(0px) rotate(360deg);
      border-radius:0px;
  }
}
