@import "_global";

:root {
  --bs-body-line-height: 1.4 !important;
}

.requestL {
  margin-top: 10vh;
  background-color: $grey !important;
  width: 65vw !important;
  height: 38rem !important;
  display: flex !important;
}
.titleRL {
  background-color: $grey-button;
  color: $white;
  text-align: center;
  width: 100%;
  height: 100%;
}
